<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Service.Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Service.Check.Properties.Settings>
            <setting name="Service_Check_ListaNDDQAS_AR_DFe_x0020_LKM" serializeAs="String">
                <value>http://192.168.197.22/ocr_async_qas/ocr.asmx</value>
            </setting>
            <setting name="Service_Check_ListaNDDPRD_AR_DFe_x0020_LKM" serializeAs="String">
                <value>http://192.168.197.22/ocr_async_prd/ocr.asmx</value>
            </setting>
        </Service.Check.Properties.Settings>
    </applicationSettings>
</configuration>